# Application Settings
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database (MongoDB URI)
# Replace with your own MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/resume_builder?retryWrites=true&w=majority

# Security
# Generate a random string for your JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# AI Integration
# Get this from Google AI Studio
GEMINI_API_KEY=your_gemini_api_key_here
